.about-page{
    color: rgb(14, 13, 13);
}

.about-page p{
    color:rgb(0, 0, 0);
    font-size: 34px;
    text-align: center;
    margin-top: 0;
}
.section-about{
    padding: 40px;
    width: 60%;
    margin: 60px auto 0;
    background-color: #D6CCF0;
    border-radius: 15px;
}
.about-list{
    font-size: 24px;
    list-style: none;
}
.about-list-item{
    margin: 20px;
}
body.dark .section-about {
    background-color: #515069;
    color: #ffffff;
}
body.dark .section-about p {
    color: #ffffff;
}
@media (max-width: 1024px) {
    .section-about {
        width: 80%;
        padding: 30px;
    }
    .about-list, .about-page p {
        font-size: 24px;
    }
}
@media (max-width: 770px) {
    .section-about {
        padding: 20px;
    }
    .about-list, .about-page p {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .section-about {
        padding: 10px;
    }
    .about-list, .about-page p {
        font-size: 16px;
    }
}