.add-project {
    margin: 40px auto;
    padding: 40px;
    background-color: #aa9bd0;
    width: 60%;
    height: auto;
    color: black;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.add-project .header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-project-form label {
    font-size: 16px;
    font-weight: 600;
}

.add-project-form input,
.add-project-form select,
.add-project-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 8px;
    outline: none;
}

.add-project-form input:focus,
.add-project-form select:focus,
.add-project-form textarea:focus {
    border-color: #6b58e6;
    box-shadow: 0px 0px 8px rgba(107, 88, 230, 0.5);
}

.add-project-form textarea {
    resize: vertical;
    height: 120px;
}

.add-project-form button {
    padding: 12px;
    font-size: 18px;
    background-color: #6b58e6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-project-form button:hover {
    background-color: #4a44b3;
}

.add-project-form button:disabled {
    background-color: #d1c8f7;
    cursor: not-allowed;
}

.add-project-form .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}
body.dark .add-project {
    background-color: #2f2b3a;
    color: #ffffff;
}
body.dark .add-project-form button{
    background-color: #032d33;
    color: #ffffff;
}
@media (max-width: 1024px) {
    .add-project {
        width: 80%;
        padding: 30px;
    }
    .add-project .header {
        font-size: 28px;
    }
    .add-project-form {
        gap: 15px;
    }
    .add-project-form input,
    .add-project-form select,
    .add-project-form textarea {
        font-size: 14px;
        padding: 8px;
    }
    .add-project-form button {
        font-size: 16px;
        padding: 10px;
    }
}
@media (max-width: 770px) {
    .add-project {
        padding: 25px;
    }
    .add-project .header {
        font-size: 24px;
    }
    .add-project-form label {
        font-size: 14px;
    }
    .add-project-form input,
    .add-project-form select,
    .add-project-form textarea {
        font-size: 14px;
        padding: 6px;
    }
    .add-project-form button {
        font-size: 14px;
        padding: 8px;
    }
}
@media (max-width: 480px) {
    .add-project {
        padding: 20px;
    }
    .add-project .header {
        font-size: 20px;
    }
    .add-project-form {
        gap: 10px;
    }
    .add-project-form label {
        font-size: 12px;
    }
    .add-project-form input,
    .add-project-form select,
    .add-project-form textarea {
        font-size: 12px;
        padding: 5px;
    }
    .add-project-form button {
        font-size: 12px;
        padding: 6px;
    }
}