.contacts-page {
    display: flex;
    justify-content: center;
    margin-top: 60px
}

.contacts-form {
    width: 60%;
    background-color: #D6CCF0;
    padding: 50px;
    border-radius: 10px;
}

.contacts-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contacts-form label {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.contacts-form input,
.contacts-form textarea {
    width: 80%;
    padding: 10px;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contacts-form button {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    background-color: #15ce15;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    display:inline-block;
    text-align:center;
    border: 2px solid red;
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}

.success-message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
body.dark .contacts-form {
    background-color: #515069;
    color: #ffffff;
}
body.dark button {
    background-color: #032d33;
    color: #ffffff;
}
@media (max-width: 1024px) {
    .contacts-form {
        width: 75%;
        padding: 40px;
    }
    .contacts-form input,
    .contacts-form textarea,
    .contacts-form button {
        width: 90%;
    }
}
@media (max-width: 770px) {
    .contacts-form {
        width: 85%;
        padding: 30px;
    }
    .contacts-form h2 {
        font-size: 18px;
    }
    .contacts-form label {
        font-size: 14px;
    }
    .contacts-form input,
    .contacts-form textarea,
    .contacts-form button {
        width: 100%;
        padding: 8px;
    }
}
@media (max-width: 770px) {
    .contacts-form {
        padding: 20px;
    }
    .contacts-form h2 {
        font-size: 16px;
    }
    .contacts-form label {
        font-size: 12px;
    }
}
