.projects-card {
    margin: 60px auto 0;
    padding: 40px;
    background-color: #D6CCF0;
    width: 70%;
    height: auto;
    color:black;
    border-radius: 15px;
}
.projects-card .header {
    grid-column: span 2;
    margin-top: 0;
    font-size: 34px;
    text-align: center;
}
.projects-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-self: center;
}
.project-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 364px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    background-color: #aa9bd0;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.project-card-item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project-card-item img {
    max-width: 100%;
    max-height: 250px;
}
.project-card-item p,
.project-card-item h3
{
    text-align: center;
    margin-top: 0;
}
.projects-card-list h3 {
    grid-column: span 2;
    text-align: center;
}
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter label {
    margin-right: 10px;
}
button {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #58c0e6;
    color: #100f0f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.filter select {
    background-color: #58c0e6;
    color: #000000;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter select:hover {
    background-color: #3d9b8e;
}
.spinner {
    margin: 20px auto;
    border: 4px solid #d1c8f7;
    border-top: 4px solid #6b58e6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body.dark .projects-card {
    background-color: #515069;
    color: #ffffff;
}
body.dark .project-card-item{
    background-color: #2f2b3a;
    color: #ffffff;
}
body.dark .projects-card .filter select {
    background-color: #032d33;
    color: #ffffff;
}
@media (max-width: 1024px) {
    .projects-card {
        width: 85%;
        padding: 30px;
    }
    .projects-card-list {
        gap: 15px;
    }
    .project-card-item {
        width: 100%;
    }
}
@media (max-width: 770px) {
    .projects-card {
        padding: 20px;
    }
    .projects-card .header {
        font-size: 28px;
    }
    .project-card-item {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .project-card-item h3 {
        font-size: 14px;
    }
    .project-card-item p {
        font-size: 12px;
    }
    .project-card-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    button, .filter select {
        font-size: 14px;
        padding: 8px;
    }
}
@media (max-width: 480px) {
    .projects-card {
        padding: 10px;
    }
    .projects-card-list {
        gap: 10px;
    }
    .project-card-item h3 {
        font-size: 12px;
    }
    .project-card-item p {
        font-size: 10px;
    }
    button, .filter select {
        font-size: 12px;
        padding: 6px;
    }
}